/* CHAT */

.chat-anim {
  width: 100vw;
}

.chat-anim .illust {
  height: 30vw;
  width: 30vw;
  object-fit: contain;
  object-position: right;
  max-width: 350px;
  max-height: 350px;
}

.chat-anim .pop-box {
  width: 40vw;
  max-width: 466px;
}

.chat-anim .pop {
  width: 100%;
  object-fit: contain;
}

.chat-anim #pop1 {
  margin-right: 6%;
}

.chat-anim #pop2 {
  margin-left: 6%;
  margin-top: -6%;
}

/* PACKET */

.packet-anim {
  width: 100vw;
}

.packet-anim .illust {
  height: 25vw;
  width: 25vw;
  object-fit: contain;
  object-position: right;
  max-width: 350px;
  max-height: 350px;
}

.packet-anim .center {
  width: 50vw;
  height: 25vw;
  max-width: 700px;
  max-height: 260px;
  position: relative;
}

.packet-anim .line {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
}

.packet-anim .packet {
  background: var(--white);
  padding: 12px 18px;
  width: 350px;
  border: solid 4px var(--gray);
  position: absolute;

  filter: drop-shadow(5px 5px 0px var(--gray));
}

.packet-anim #packet1 {
  right: calc(100% - 350px);
  top: 0;
}

.packet-anim #packet2 {
  left: calc(100% - 350px);
  bottom: 0;
  opacity: 0;
}

.space-50 {
  width: 50vw;
  max-width: 700px;
}

.packet-anim .packet-box{
  width: 50vw;
  position: absolute;
}

/* DNS */


.dns-anim {
  width: 100vw;
}

.dns-anim .illust {
  height: 20vw;
  width: 20vw;
  object-fit: contain;
  object-position: right;
  max-width: 280px;
  max-height: 280px;
}

.dns-anim .center {
  width: 50vw;
  height: 22vw;
  max-width: 700px;
  max-height: 300px;
  position: relative;
}

.dns-anim .line1 {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
  transform: rotate(-12deg);
  z-index: -1;
  transform-origin: center left;
  top: 50%;
  position: absolute;
}

.dns-anim .line2 {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
  transform: rotate(12deg);
  z-index: -1;
  transform-origin: center left;
  top: 50%;
  position: absolute;
}

.dns-anim .dns {
  background: var(--white);
  padding: 12px 18px;
  width: 350px;
  border: solid 4px var(--gray);
  position: absolute;
  color: var(--gray);
  filter: drop-shadow(5px 5px 0px var(--gray));
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  transition: opacity .3s ease;
}

.dns-anim #dns1 {
  right: calc(100% - 350px);
  top: calc(50% - 55px);
}

.dns-anim #dns2 {
  left: calc(100% - 350px);
  top: 0;
  opacity: 0;
}

.dns-anim #dns3 {
  right: calc(100% - 350px);
  bottom: calc(50% - 55px);
  opacity: 0;
}

.dns-anim #dns4 {
  left: calc(100% - 350px);
  bottom: 0;
  opacity: 0;
}

.dns-anim-box {
  height: 22vw;
  max-height: 300px;
  position: relative;
}

.dns-anim .dns-box-1 {
  position: absolute;
}
.dns-anim .dns-box-2 {
  position: absolute;
}

.stack {
  position: relative;
}
.stack > *:not(.space-50) {
  position: absolute !important;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .packet-anim {
    margin-top: 128px;
  }
  .packet-anim .packet {
    width: 260px;
  }

  .packet-anim #packet1 {
    right: calc(100% - 260px);
  }

  .packet-anim #packet2 {
    left: calc(100% - 260px);
  }
  .packet-anim .packet-box{
    width: 100vw;
    height: 70vw;
  }
  .dns-anim .dns {
    width: 220px;
  }
  .dns-anim .stack {
    width: 100vw;
  }
  .dns-anim .dns-box-1 {
    width: 100vw;
    margin-top: -200px;
  }
  .dns-anim .dns-box-2 {
    width: 100vw;
    margin-top: 200px;
  }
  .dns-anim #dns1 {
    right: calc(100% - 220px);
    top: 0;
  }
  .dns-anim #dns2 {
    left: calc(100% - 220px);
    top: calc(50% - 55px);
  }
  .dns-anim #dns3 {
    right: calc(100% - 220px);
    bottom: 0;
  }
  .dns-anim #dns4 {
    left: calc(100% - 220px);
    bottom: calc(50% - 55px);
  }
  #anim-3-content p.description {
    margin-bottom: 128px;
  }
}