/* ===== Common ===== */

:root {
  --blue: #4FC0F4;
  --white: #ffffff;
  --yellow: #FFFF99;
  --gray: #333333;
}


* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'RocknRoll One', sans-serif;
}

.blue-bg {
  background-color: var(--blue);
}

.blue-bg * {
  color: var(--white);
}

.yellow-bg {
  background-color: var(--yello);
}

.yellow-bg * {
  color: var(--gray);
}

.heading {
  text-align: center;
  padding: 64px;
}

.heading span {
  font-size: 24pt;
}

.heading h2 {
  font-size: 32pt;
}

.page {
  height: 100vh;
  width: 100vw;
}

.stripe {
  background-image: url(img/stripe.png);
  background-size: 32px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illust {
  height: 350px;
}

.pop {
  opacity: 0;
  transform: translateY(64px);
}

.h-box {
  width: 1080px;
  position: relative;
}

.h-box h3 {
  position: relative;
  background-color: var(--white);
  color: var(--gray);
  border: solid 6px var(--gray);
  filter: drop-shadow(4px 4px 0px var(--gray));
  width: 70%;
  padding: 16px;
  margin-top: -32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32pt;
  text-align: center;
  top: 48px;
  z-index: 10;
}

.h-box .content {
  max-width: 100%;
  min-height: 80px;
  background-color: var(--white);
  border: solid 6px var(--gray);
  filter: drop-shadow(10px 10px 0px var(--gray));
  margin: auto;
  padding: 48px;
  text-align: center;
}

.h-box .content * {
  color: var(--gray);
}

.h-box .content p {
  font-size: 24pt;
}

/* ===== Common ===== */

/* ===== Header ===== */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header > img {
  position: absolute;
}

header > .cloud1 {
  top: -5vh;
  right: 0px;
  width: 50vmax;
}

header > .cloud2 {
  bottom: -5vh;
  transform: rotate(180deg);
  left: 0px;
  width: 50vmax;
}

header .box {
  border: solid 4px white;
  width: calc(100vw - 128px);
  height: calc(100vh - 128px);
  border-radius: 48px
}

/* ===== Header ===== */

/* ===== Section 1 ===== */

.section1 {
}

/* ===== Section 1 ===== */

/* ===== Anim 1 ==== */
.anim-1 p {
  text-align: center;
  font-size: 24pt;
  margin: 64px 0px;
}