/* ===== Common ===== */


header {
  background-color: var(--blue);
}

section:nth-child(odd) {
  background-color: var(--yellow);
}

section:nth-child(odd) * {
  color: var(--gray);
}

section:nth-child(odd) .stripe {
  background-color: var(--yellow);
  background-image: url(img/stripe-40.png);
  background-size: 32px;
}

section:nth-child(even) {
  background-color: var(--blue);
}

section:nth-child(even) * {
  color: var(--white);
}

section:nth-child(even) .stripe {
  background-image: url(img/stripe.png);
  background-size: 32px;
}

.heading {
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading span {
  font-size: 2.7rem;
}

.heading h2 {
  font-weight: 400;
  font-size: 4rem;
}

.page {
  height: 100vh;
/*  width: 100vw;*/
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



strong {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  color: var(--white);
  font-size: 3rem;
  display: inline-block;
  margin: 0px 8px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--gray);
}

.pop {
  opacity: 0;
  transform: translateY(64px);
}

.onepage {
  height: calc(100vh - 256px - 92px);
  padding-bottom: 92px;
}

.book-container {
  margin: 0 64px;
}

.book-container img {
  width: 300px;
}

.book-container div {
  margin-top: 24px;
  font-size: 1.2rem;
  text-align: center;
}

.shadow10px {
  filter: drop-shadow(10px 10px 0px var(--gray));
}

/* ===== Common ===== */

/* ===== Header ===== */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
/*  width: 100vw;*/
  position: relative;
  overflow: hidden;
}

header h1 {
  text-align: center;
}

header > img {
  position: absolute;
}

header > .cloud1 {
  top: -5vh;
  right: 0px;
  width: 50vmax;
}

header > .cloud2 {
  bottom: -9vh;
  transform: rotate(180deg);
  left: 0px;
  width: 50vmax;
}

header .box {
  border: solid 4px white;
  width: calc(100vw - 128px);
  height: calc(100vh - 128px);
  border-radius: 48px
}

header #logo {
  width: 80%;
}

header p {
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
  margin-top: 64px;
  line-height: 2.5rem;
}
/* ===== Header ===== */

/* ===== Anim 1 ==== */
.anim-1 p {
  text-align: center;
  font-size: 2rem;
  margin: 64px 0px;
}

footer {
  height: 64px;  background-color: var(--yellow);
}

/* message */
.portrait {
  text-align: center;
}

.portrait .mizu {
  width: 300px;
}

.portrait .name {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  /* 768pxまでの幅の場合に適応される */
  html {
    font-size: 0.7rem;
  }
  header .box {
    width: calc(100vw - 64px);
    height: calc(100vh - 64px);
    border-radius: 24px;
  }
  header p {
    padding: 0px 16px;
    margin-top: 16px;
    font-size: 1.3rem;
  }
}